body {
    background-color: indianred;
}

h1 {
    background-color: burlywood;
}

h2 {
    background-color: coral;
}

h3 {
    background-color: darkkhaki;
}

/*2 de septiembre del 2024 */
/*11:22am*/ 